<div class="footer-padding"></div>
  <div class="footer">
    <p id="footer">Verdenomkringdig.dk <%=new Date().getFullYear()%></p>
  </div>
<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
