<div class="logo-container">
  <img id="logo" src="/assets/Images/globe3.png">
</div>
  <nav class="navbar navbar-expand-lg bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav justify-content-center">
          <li class="nav-item" id="home"><a class="nav-link" href="/">Hjem</a></li>
          <li class="nav-item" id="artikler"><a class="nav-link" href="/postsOverview/1">Artikler</a></li>
          <li class="nav-item" id="about"><a class="nav-link" href="/about">Om hjemmesiden</a></li>
          <li class="nav-item" id="contact"><a class="nav-link" href="/contact">Kontakt</a></li>
        </ul>
      </div>
  </nav>

