<%- include("partials/header"); -%>
    <h1>Om denne hjemmeside</h1>
    <br>
    <h3>Hvad er denne hjemmeside</h3>
    <p>
        I de seneste syv år er der sket forskellige skelsættende begivenheder. Vi har haft terrorangreb, flygtningekriser,
en global pandemi og en krig på europæisk jord, som har påvirket den globale økonomi.
I medierne får vi en masse information og fakta om disse begivenheder, men jeg føler at dette nogle ganger dækkes på en ensidig måde.
Jeg ønsker at skildre disse begivenheder fra en anden mere analytisk vinkel, da jeg føler at der er brug for dette i en kompleks verden.
    </p>
    <br>


    <h3>Værdier</h3>
    <p>
        Verdenomkringdig.dk er et analyse- og debatmedie, som laver analyser og debatoplæg af den aktuelle situation i verden og herhjemme.
Debat og analyseoplæggene er på egen regning, men skal dog holde sig indenfor de journalistiske standarder.
Dermed skal der være grundlag for sine iagtagelser, som skal være velbegrundet. Samtidig skal der repekteres holdninger og analyser, som man er uenige med og hvis man ønsker at give et modsvar, så skal man gøre dette på en anstændig tone.
Det betyder, at fake news og konspirationsteorier er aldrig velkommen på siden. 
    </p>
<br>
    <h3>
        Hvem står bag hjemmesiden?
    </h3>
    <p>Denne side ejes og drives af to unge mænd, som har kombineret deres færdigheder for at skabe et sted for politik-og medieinteresserede personer. Duoen består af følgende: <br>
    <b>Tobias Einar Svop Ahlqvist: Webredaktør</b> <br>
    Nyuddannet datamatiker som er passioneret omkring udvikling af services, som folk kan bruge. Ansvarlig for drift og udvikling af indhold på hjemmesiden
    <br>
    <b>Jeppe Møller Mortensen: Skribent</b> <br>
    Studerer administrationsbachelor og har stor interesse for politik på lokal og international plan samt mediernes dækning af begivenhederne. Manden bag de analyserende og reflekterende artikler
    </p>
    
<%- include("partials/footer"); -%>
