<%- include("partials/header"); -%>

<br>
<br>
<%  posts.forEach(function(post){ %>

    <a href="/compose/<%=post._id%>"><span><%=post.title%></span></a>
    <br>
    <br>

    <% }) %>

    <div class="new-post">
    <a href="/compose">Skriv ny artikel</a>
    </div>
    <br>
    <form enctype="multipart/form-data" method="get" action="/logout">
    <input type="submit" value="logout">
</form>
<%- include("partials/footer"); -%>
