<%- include("partials/header"); -%>
    <h1>Kontakt</h1>
    <p> Har du noget, som du gerne vil have skildret? Kontakt os på en af nedenstående mails: <br>
        Jeppe: Jeppemm@hotmail.dk <br>
        Tobias: tobbe50cent@gmail.com <br>
        Vi bestræber os på at besvare din henvendelse så hurtigt som muligt
     </p>
<%- include("partials/footer"); -%>
