html {
  min-height: 100%;
  position: relative;
}

body{
  background-color: rgb(42, 111, 151);
  color:white;
  overflow-x: hidden;
  font-family: sans-serif;
}

h1{
  text-align: center;
}

.read-more-btn{
  /* display: inline-block;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 20%;
  background-color: white; */
  color:white
}

.new-post{
  background-color: burlywood;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  width: 150px;
  height: 30px;

}

.new-post a{
  text-decoration: none;
}

.new-post:hover{
  background-color: rgb(162, 106, 32);
}

.new-post a{
  color: black;
  margin: 50% 0;
}

.post-image{
  float: left;
  width: 30%;
  height: 25vh;
  margin-right: 3%;
}

.post-text{

}

.title-container{
  max-width: 50%;
}

.article-image{
 padding: 0 30%; 
 width: 100%;
 height: 30vh;
}

.bread-text{
  overflow-x: hidden;
  white-space: pre-wrap !important;
}

.pagination{
  /*position: fixed;*/
}

.page-num{
  background-color: white;
  border: 1px solid;

  color: black;
  padding: 0 1rem;
  border-radius: 5%;
}

.page-num a{
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -1em;
}

.page-num:hover{
  background-color: lightgray;

}

.activeNum{
  background-color: gray;
  pointer-events: none;
}

.sub-text{
  font-style: italic;
}

.sub-text-article{
  margin: 0% 15%
}

hr{
  border-top: 1px solid black;
}

.hidden-image{
  visibility: hidden;
}

p.clear{
  clear: left;
}

.front-posts{
  margin: 0 25%;
}

.front-image{
  width: 50%;
  height: 30vh;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%) !important;
}

.selected-stories{
  text-align: center;
}

#logo{
  width: 250px;
  height: 120px;
  margin: 1rem 42%
}

.nav{
  margin: 0 10% !important;
}

.nav-link{
  font-size: 16px !important;
}

.nav li:hover{
background-color: lightgray;
}

#footer{
  font-size: 20px;
  text-align: center;
  margin: 5px 0;
  border-top-width: 0.5px;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-color: black;
  border-style: solid;
}

.logo-container{
  height: 4cm;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    /* background-color: rgb(1, 58, 99) !important; */
    margin: 0 11.5%;
    border-radius: 25px;
} 
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.post-container{
  
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;

}

.footer p {
	margin-top: 25px;
	font-size: 12px;
}

.admin-page{
  background-color: #1abc9c;
  align-items: center;
}

p, pre{
  font-size: 17px;
  line-height: 2.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 1000px) and (min-width:800px) {
  h1{
    font-size: 25px;
  }
  p, pre{
    font-size: 15px;
  }
  
}

@media only screen and (max-width:800px) and (min-width:300px) {
  h1{
    font-size: 15px;
  }

  h3{
    font-size: 15px;
  }

  span{
    font-size: 15px;
  }
  p, pre{
    font-size: 10px;
  }

  pre{
    margin: 0% 11%;
  }


  #logo{
    margin-left: 3.6rem !important;
  }
  
  .read-more{
    background-color: white;
    border-style: solid;
    width: 200px;
    height: 20vh;
    color:white !important

  }


  .carousel-text{
    max-width: 100px !important;
  }

  .carousel-item h2{
    font-size: 20px !important;
  }

  .sub-text-article{
    margin: 0% 10%;
    font-size: 12px;
  }
  /* .article-image{

    
    
  } */
  /* .post-image{
    float:none;
  } */
}

/* .active{
  background-color: transparent !important;
  pointer-events: auto;
} */

/*ckeditor*********/
.ck-editor__editable p{
  line-height: 1.5 !important;
}